<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Database Results</title>
</head>
<body>
    <h1>These are the results of cart Database</h1>
    <table border = 1>
        <thead>
            <td>Customer id</td>
            <td>Product Name</td>
            <td>Original Price</td>
            <td>Sale Price</td>
            
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{ row["customer_id"] }}</td>
            <td>{{ row["productName"] }}</td>
            <td>{{ row["originalPrice"] }}</td>
            <td>{{ row["productPrice"] }}</td>
            
        </tr>
        {% endfor %}
    </table>
    <a href = "/">Back to Home Page</a>
</body>
</html>